.headerName{
    align-self: center;
    // margin-top: 10px;
}
.headerLogo{
    text-align: center;
}
.orgName{
    // color:  linear-gradient(to right,#6f9f25,#3e6e94) !important;
    // --color: linear-gradient(to bottom right,#6f9f25 , #3e6e94) ;
    // color:  #6f9f25 !important;
    // #6f9f25
    // #3e6e94
text-align: center;
// letter-spacing: 14px;
//     background: linear-gradient(to right,#95ca46 0% 0%, #127dac 100% 100%);
//       -webkit-background-clip: text; // For Safari
//       color: transparent; // Make the text transparent to reveal the gradient background
}

.red-color{
    color: #a80b0b;
}



.regNo{
    font-size: large;

    }
.noFlex{
    flex: none;
}
h3{
    text-align: center;
}

.contactus{
    background: linear-gradient(to right,#33a211 10% 10%, #24730c 100% 100%);
    color: #ffffff;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-align: center;
    margin-top:20px;
    padding: 10px;
}

.contactusText{
    text-align: left;
}

// .right-position{
//     float: right;
// }

// .position-bottom{
//     position: relative;
//     top: 75%;
// }

.headerLogoRight{
    float: right;
    text-align: center;
}



ion-label.orgName{
    font-size: 60px; /* Larger initial font size */

  @media (max-width: 768px) {
    font-size: 35px; /* Adjust font size for smaller screens */
  }

  @media (max-width: 575px) {
    font-size: 30px; /* Further adjustment for even smaller screens */
  }

  @media (max-width: 1200px) {
    font-size: 50px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 1024px) {
    font-size: 45px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 900px) {
    font-size: 45px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 600px) {
    font-size: 45px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 480px) {
    font-size: 30px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 320px) {
    font-size: 30px; /* Further adjustment for even smaller screens */
  }
}
  ion-label.logo-img-header{
    font-size: 40px; /* Larger initial font size */

  

  @media (max-width: 1200px) {
    font-size: 40px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 1024px) {
    font-size: 40px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 900px) {
    font-size: 40px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 900px) {
    font-size: 35px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 768px) {
    font-size: 35px; /* Adjust font size for smaller screens */
  }
  @media (max-width: 600px) {
    font-size: 30px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 575px) {
    font-size: 20px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 480px) {
    font-size: 12px; /* Further adjustment for even smaller screens */
  }
  @media (max-width: 320px) {
    font-size: 12px; /* Further adjustment for even smaller screens */
  }
 

//     320px
// 480px
// 600px
// 768px
// 900px
// 1024px
// 1200px
}

.header-row{
  // overflow-y: scroll;
}