<ion-header>
  <ion-toolbar>
    <ion-title
      ><ion-row
        ><ion-col class="headerLogo"
          ><img
            height="100%"
            width="55%"
            src="../../assets/imgs/logo.png"
            size="large"
        /></ion-col>
        <ion-col class="headerName"
          ><p class="orgName" style="font-size: 370%;text-align:start;">
            <b><b style="color: #95ca46;">ODIA </b> <b style="color: #95ca46;">SEVA </b> <b style="color: #127dac;">FOUNDATION</b></b><br>
            <span class="red-color" style="float:right; position: absolute; right: 35px; bottom:10px; font-size:20px"
          ><b>Regd No: E-13085/Thane</b></span>
          </p></ion-col
        >
        <!-- <ion-col size="1.6">
          
        </ion-col> -->
        <ion-col class="headerLogoRight"
          ><img
            height="100%"
            width="55%"
            src="../../assets/imgs/logo.png"
            size="large"
        /></ion-col>
       
        
      </ion-row>
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1">
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <div>
    <ion-row>
      <ion-col class="text-align-center"
        ><ion-label class="red-color"><b>NO NAME NO FAME</b></ion-label></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"
        ><img
          height="300px"
          width="300px"
          src="../../assets/imgs/logo.png"
          size="large"
      /></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"
        ><ion-label class="nameeng" style="font-size:270%;"
          ><b style="color: #95ca46;">ODIA</b> &#160; <b style="color: #95ca46;">SEVA</b> &#160; <b style="color: #127dac;">FOUNDATION</b></ion-label
        ></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"
        ><ion-label class="nameeng" style="font-size:270%;"
          ><b style="color: #95ca46;">ओडिया</b> &#160; <b style="color: #95ca46;">सेवा</b> &#160; <b style="color: #127dac;">फाउंडेशन</b></ion-label
        ></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"
        ><ion-label class="nameeng" style="font-size:270%;"
          ><b style="color: #95ca46;">ଓଡ଼ିଆ</b> &#160; <b style="color: #95ca46;">ସେବା</b> &#160; <b style="color: #127dac;">ଫାଉଣ୍ଡେସନ୍‌</b></ion-label
        ></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"
        ></ion-col
      >
    </ion-row>
  </div>

  <div class="pagemargin ">
    <h3>Our Humble Beginnings:</h3>
    <div>
      <ion-row>
        <ion-col>
          <p class="height-content">
            Back in 2022, we started with a dream to create a place that stands
            for good values, helping others, taking care of nature, and making
            sure everyone in the community feels supported. Triranga Ashram is
            more than just a place; it's a heartfelt effort to contribute to the
            betterment of society.
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin">
    <h3>
      TIRANGA ASHRAM : Embarking on a Journey of Service Since October 2, 2022
    </h3>
    <div>
      <swiper-container
        [slidesPerView]="1"
        [loop]="true"
        [autoPlay]="true"
        [autoplay]="{delay:5000}"
      >
        <swiper-slide
          ><img width="100%" height="850px" src="../../assets/imgs/trilokdham.jpg"
        /></swiper-slide>
        <swiper-slide
          ><img width="100%" height="850px" src="../../assets/imgs/tribhuvan.png"
        /></swiper-slide>
        <swiper-slide
          ><img width="100%" height="850px" src="../../assets/imgs/gaushala.jpg"
        /></swiper-slide>
        <swiper-slide><img width="100%" height="850px" src="../../assets/imgs/trishul.png" /></swiper-slide>
      </swiper-container>
      <p class="height-content">
        Triranga Ashram began its journey on Gandhi Jayanti, October 2, 2022,
        with a simple yet powerful idea giving back to society. Inspired by
        Mahatma Gandhi's principles of service and community well-being, we set
        out on a mission to make a positive impact on the lives of those around
        us.
      </p>
    </div>
  </div>

  <div class="pagemargin">
    <h3>Trilok Dham Temple (A Spiritual Oasis):</h3>
    <div>
      <ion-row>
        <ion-col>
          <img src="../../assets/imgs/trilokdham.jpg" />
        </ion-col>
        <ion-col>
          <p class="height-content">
            At the heart of Triranga Ashram stands the Trilok Dham Temple, a
            spiritual sanctuary graced by the divine presence of Lord Ganesha
            and Radha Krishna. The temple serves as a focal point for spiritual
            reflection and devotion, fostering an environment of cultural
            enrichment.
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin ">
    <h3>Tribhuvan Parivar (Old Age Home):</h3>
    <div>
      <ion-row>
        <ion-col>
          <p class="height-content">
            Offering care and warmth to our elders at the Trivuban Family, we
            started building a place where the wisdom of our older generation is
            cherished, creating a home where everyone is family.It's a cozy home
            where our older family members are taken care of with love and
            respect.This initiative embodies the ashram's commitment to the
            well-being of every generation within the community.
          </p>
        </ion-col>
        <ion-col>
          <img src="../../assets/imgs/tribhuvan.png" />
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin ">
    <h3>Triveni Goshala (Cow Shelter):</h3>
    <div>
      <ion-row>
        <ion-col>
          <img src="../../assets/imgs/gaushala.jpg" />
        </ion-col>
        <ion-col>
          <p class="height-content">
            Caring for the sacred beings, Triranga Ashram hosts Triveni Goshala,
            a shelter dedicated to the well-being of cows. Here, the ashram
            takes pride in providing a nurturing environment for the gentle
            creatures, emphasizing the importance of compassion towards all
            living beings. , we believe in kindness towards animals. The shelter
            is a haven for cows, ensuring their well-being and happiness.
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin ">
    <h3>Trishul Nursery Plantation:</h3>
    <div>
      <ion-row>
        <ion-col>
          <p class="height-content">
            The Trishul Nursery Plantation reflects our commitment to nature. We
            plant trees to give back to the environment, aiming to create a
            healthier and greener world.Acknowledging the critical role of
            environmental conservation, this initiative actively contributes to
            the preservation of nature, planting seeds for a sustainable future
            and promoting a harmonious coexistence with the environment.
          </p>
        </ion-col>
        <ion-col>
          <img src="../../assets/imgs/trishul.png" />
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin">
    <h3>A Heart for Service:</h3>
    <div>
      <ion-row>
        <ion-col>
          <p class="height-content">
            At Triranga Ashram, we're known for our dedication to service. Our
            team works hard to make a positive difference in the lives of people
            around us, living out the principles of seva and community
            encouragement.
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin">
    <h3>Our Dream - (A Better World for All):</h3>
    <div>
      <ion-row>
        <ion-col>
          <p class="height-content">
            Our dream is simple yet profound, a world where traditions are
            cherished, people help each other, nature is protected, and everyone
            has what they need. Triranga Ashram is like a big family, and we
            invite you to join us in making our world a better and happier place
            for everyone.
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="pagemargin">
    <h3>DONATE:</h3>
    <div>
      <ion-row>
        <ion-col>
          <p style="text-align: center;"><i>We need your support to make a new world for everyone.</i></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>
            ODIA SEVA FOUNDATION
            <br />
            Bank: AXIS BANK
            <br />
            A/C No: 923020020764908
            <br />
            BRANCH: MUMBAI CENTRAL BRANCH
            <br />
            IFSC CODE: UTIB0004801
          </p>
        </ion-col>
        <ion-col >
          <p style="float: right;">
            ODIA SEVA FOUNDATION
            <br />
            Bank: HDFC BANK LTD.
            <br />
            A/C No: 50200080530142
            <br />
            BRANCH: KALYAN EAST BRANCH
            <br />
            IFSC CODE: HDFC0005404
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="contactus">
    <ion-row>
      <ion-col> <h1>Contact Us</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  style="text-align: center;"> Call us:  8928887070 / 9137643455</ion-col>
      <!-- <ion-col size="6" class="contactusText">
       
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col  style="text-align: center;"> Mail us: info&#64;odiasevafoundation.com / odiasevafoundation&#64;gmail.com </ion-col>
      <!-- <ion-col size="6" class="contactusText">
       
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col   style="text-align: center;"> Address: </ion-col>
      <!-- <ion-col size="6">
        <ion-row class="contactusText"
          >Office Address: Room No. 01, Jai Jagannath CHSL, Nandadeep Nagar,
          Chakkinaka, Kalyan (E.) - 421306</ion-row
        >
        <ion-row class="contactusText">
          Tiranga Ashram Address: Gothanipada Village, Kakadwal, Shrimalang
          Road, Nevali, Kalyan (E.)</ion-row
        >
      </ion-col> -->
    </ion-row>
    <!-- <ion-row> -->
      <ion-row  class="contactusText"
        ><ion-col style="text-align: center;">Office Address: Room No. 01, Jai Jagannath CHSL, Nandadeep Nagar,
          Chakkinaka, Kalyan (E.) - 421306</ion-col></ion-row
      >
      <ion-row style="text-align: center;" class="contactusText">
        <ion-col style="text-align: center;">
          Tiranga Ashram Address: Gothanipada Village, Kakadwal, Shrimalang
          Road, Nevali, Kalyan (E.)
        </ion-col>
</ion-row
      >
    <!-- </ion-row> -->
  </div>
</ion-content>
