<ion-header>
  <ion-toolbar>
    <ion-title><ion-row><ion-col size="2" class="headerLogo"><img height="100px" width="100px" src="../../assets/imgs/logo.png" size="large"></ion-col>
      <ion-col size="7" class="headerName"><p class="orgName" style="font-size: large;"><b>Odia Seva Foundation</b></p></ion-col>
    </ion-row>
    </ion-title>
    
  </ion-toolbar>
  <!-- <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1">
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar> -->
</ion-header>

<ion-content>
  
  <ion-router-outlet></ion-router-outlet>
  <div>
    <ion-row>
      <ion-col class="text-align-center"><ion-label class="red-color">NO NAME NO FAME</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"><img height="250px" width="250px" src="../../assets/imgs/logo.png" size="large"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"><ion-label class="nameeng gred-color">ODIA SEVA FOUNDATION</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"><ion-label class="nameeng gred-color">ओडिया सेवा फाउंडेशन</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"><ion-label class="nameeng gred-color">ଓଡ଼ିଆ ସେବା ଫାଉଣ୍ଡେସନ୍‌</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-align-center"><ion-label class="nameeng red-color">Regd No: E-13085/Thane</ion-label></ion-col>
    </ion-row>
  </div>

  <div class="pagemargin">
<h3>TRILOK DHAM</h3>
<div>
  <p>
    "भक्ति का अभिषेक स्थल, दिल से जुड़ा हमसबका धाम"<br>

यहाँ पर त्रिलोक धाम के नाम से एक मंदिर है, जहाँ पर श्रीराधेकृष्ण और श्रीगणेशजी भगवान विराजमान है।
  </p>
</div>
  </div>

  <div class="pagemargin">
    <h3>TRIBHUVAN PARIVAR (VRUDHASHRAM)</h3>
    <div>
      <p>
        हमारे बुजुर्ग समाज का एक महत्वपूर्ण हिस्सा है और उन्हें सन्मान से जीने का अधिकार है। जिन्होंने अपने बच्चो के लिए अपना जीवन बलिदान कर दिया और अपनेबुढ़ापे में जीवन जीने का साधन उपलब्ध नहीं है, उनके लिये त्रिभुवन परिवार (वृद्धाश्रम) है, यह एक ऐसा संस्था है जो ओडिया सेवा फाउंडेशन द्वारा संचालित किया जाता है। यह संस्था अकेले और वृद्ध लोगों के लिए निर्मित है जो समाज के लिए आवश्यक सेवाए प्रदान करता है। वृद्धाश्रम में वृद्धों को एक सुरक्षित और सुखद जीवन प्रदान किया जाता है। इस संस्था में स्वस्थ आहार, स्वच्छता, चिकित्सा सेवा, और अन्य सुविधाए उपलब्ध है। इस वृद्धाश्रम के माध्यम से ओडिया सेवा फाउंडेशन बुजुर्गो को समाज से जोड़ने का कार्य भी करता है। त्रिभुवन परिवार (वृद्धाश्रम) एक मानवीय उपहार है जो समाज के बुजुर्गो के लिए समर्पित है।
      </p>
    </div>
      </div>

      <div class="pagemargin">
        <h3>TRIVENI GAUSHALA</h3>
        <div>
          <p>
            इस महान सेवा में योगदान देकर पुण्य और आशिर्वाद कमाइरे <br>
            गौमाता हमारे देश की संस्कृति, धार्मिक और सामाजिक जीवन का अहम हिस्सा है और आध्यात्मिक आस्था का प्रतीक भी है। गौमाता जगत की माता है जहाँ पर गौमाता का वास है वहाँ श्री कृष्ण का भी निवास है। गौ-सेवा सबसे उत्तम सेवा है। गौमाता जुबान से बोल नही सकती मगर हमारे सेवा भाव को महसुस कर सकती है। गौमाता अपने लिये कुछ मांगती नही है, पर हमे बहुत कुछ देती है जैसे अमृततुल्य दूध जिसे पिने पर मनुष्य स्वस्थ रहता है। गौमाता के गोबर से हमारा आगन साफ और पवित्र रखा जाता है। त्रिवेणी गौशाला ओडिया सेवा फाउंडेशन द्वारा स्थापित गौशाला है जो गौ-सेवा को अपना प्राथमिक कार्य मानता है और गौमाता की सेवा करता है। यहाँ गौशाला में गोमाताओं का पालन-पोषण और चिकित्सा का सुविधा प्रदान किया जाता है ताकि वे स्वस्थ रह सके और लोग उनकी सेवा करके धार्मिक और सामाजिक कर्तव्यों को पूरा कर सके।

          </p>
        </div>
          </div>

          <div class="pagemargin">
            <h3>TRISHUL NURSERY PLANTATION</h3>
            <div>
              <p>
                जलवायु परिवर्तन एक गंभीर पर्यावरणीय समस्या है जो हमारी पृथ्वी की स्थिति पर गहरा प्रभाव डालती है। तापमान में वृद्धि, जल स्तर की बढ़ोतरी, मोसम की अनियमितता, जलवायु परावर्तन और प्राकृतिक आपदाओं में बदलाव शामिल हैं। इन परिवर्तनों का सीधा प्रभाव मानव स्वास्थ्य, जलवायु प्रणाली, कृषि, वनस्पति, जीव जंतु पर होता है। दिशुल नर्सरी प्लांटेशन, जो ओडिया सेवा फाउंडेशन द्वारा संचालित है, एक पर्यावरण संबंधी पहल है जो जलवायु परिवर्तन को संभालने में सहायता प्रदान करता है। यह एक पौधे की नर्सरी है जो वृक्षारोपण की पहल को प्रोत्साहित करता है और पर्यावरण संरक्षण को बढ़ावा देता है।
    
              </p>
            </div>
              </div>

</ion-content>
